%header
  %main
%bg-dark
%home-information
  %h1{:class => "slogan"} Any swipe can change your life.
  %a{:class => "btn.btn-social.btn-lg.btn-facebook"}
    %i{:class => "fa.fa-facebook"} Sign in with Facebook
  %br
  %br

